<div class="modal fade" id="homework-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Hausaufgabe hinzufügen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <div class="md-form">
          <select id="hw-create-fach" class="form-control custom-select" [(ngModel)]="subject">
            <option *ngFor="let subject of subjects" value="{{subject}}">{{subject}}</option>
          </select>
        </div>

        <div class="md-form">
          <input type="text" id="hw-create-description" class="form-control" placeholder="Beschreibung" [(ngModel)]="description">
        </div>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addHomework()">Hausaufgabe hinzufügen</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
