<div id="outer">
    <div class="row">
        <div class="mx-auto">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1. Stunde</td>
                    <td>2. Stunde</td>
                    <td>3. Stunde</td>
                    <td>4. Stunde</td>
                    <td>5. Stunde</td>
                    <td>6. Stunde</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1. Stunde</td>
                    <td>2. Stunde</td>
                    <td>3. Stunde</td>
                    <td>4. Stunde</td>
                    <td>5. Stunde</td>
                    <td>6. Stunde</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>1. Stunde</td>
                    <td>2. Stunde</td>
                    <td>3. Stunde</td>
                    <td>4. Stunde</td>
                    <td>5. Stunde</td>
                    <td>6. Stunde</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>1. Stunde</td>
                    <td>2. Stunde</td>
                    <td>3. Stunde</td>
                    <td>4. Stunde</td>
                    <td>5. Stunde</td>
                    <td>6. Stunde</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>1. Stunde</td>
                    <td>2. Stunde</td>
                    <td>3. Stunde</td>
                    <td>4. Stunde</td>
                    <td>5. Stunde</td>
                    <td>6. Stunde</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>1. Stunde</td>
                    <td>2. Stunde</td>
                    <td>3. Stunde</td>
                    <td>4. Stunde</td>
                    <td>5. Stunde</td>
                    <td>6. Stunde</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-md-8 mx-auto">
        <div class="card col-md-4 dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Weather</h4>
                <p class="card-text">Today it's <span>15</span> degrees and <span>sunny</span></p>
            </div>
        </div>
        <app-clock class="col-md-4 dashboard-card"></app-clock>
        <div class="card col-md-4 dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Homework</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
</div>